/*    lepiej tego nie robić
 *,*::after,*::before {margin: 0;padding: 0;} */

:root {
  --color-black: #212121;
  --color-white: #ffffff;
  --color-white-dark: #f5f4fa;
  --color-grey: #757575;
  --hover-color: #2196f3;
  --background-color: #e5e5e5;
}

body {
  font-size: 2rem;
  font-family: 'Roboto', 'Raleway', sans-serif;
  color: var(--color-black);
  color: var(--background-color);
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
/* img są elementami liniowymi  ale  lepiej zmianć od razu na blokowe */
img {
  display: block;
}

.container-nav {
  width: 1600px;
  height: 600px;
}

.container-big {
  width: 1600px;
  height: 600px;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}
.container-klients {
  width: 1200px;
  /* width: 100%; */
  box-sizing: border-box;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 0px 15px;
  /* margin: 94px 215px 0px; */
}
.client-box {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  gap: 30px;
  padding: 7px;
  fill: #afb1b8;
  padding: 8px 7px;
}

.client-box-size {
  align-content: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  padding: 16px 32px;
  color: #afb1b8;
}

.client-box-size:hover {
  border-color: var(--hover-color);
}

.section {
  padding: 94px 0px 94px 0px;
}

.container-work {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 44px;
}

.container-work-small {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px;
}

.container-team {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-white-dark);
  margin: 0 auto;
  height: auto;
}

.margin-agencja {
  padding: 32px;
}

.margin-bottom {
  border-bottom: 2px solid #ececec;
  padding: 32px;
}

.margin-button {
  padding-bottom: 50px;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.button-kategory {
  max-width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.logo-text-black {
  font-family: 'Roboto', 'Raleway', sans-serif;
  color: #000000;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.4;
  text-decoration: none;
}

.logo-text-white {
  font-family: 'Roboto', 'Raleway', sans-serif;
  color: var(--color-white);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.4;
  text-decoration: none;
}

.logo-text-blue {
  color: var(--hover-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

.list-menu {
  display: flex;
  align-items: center;
  padding: 0 24px;
  font-weight: 700;
}

.navigation {
  text-decoration: none;
  color: inherit;
  font-size: 14px;
}

.navigation:hover,
.navigation:focus,
.navigation:active {
  color: var(--hover-color);
}

.active {
  text-decoration: none;
  font-size: 14px;
  color: var(--hover-color);
}

.envelope:hover,
.phone:hover {
  fill: var(--hover-color);
}

.kontakt {
  text-decoration: none;
  color: var(--color-grey);
  font-size: 14px;
  padding-left: 10px;
}

.kontakt:hover,
.kontakt:focus {
  color: var(--hover-color);
}

.banner-background {
  margin: auto;
  background-color: #2f303a;
  text-align: center;
  width: 1600px;
  height: 600px;
  color: var(--color-white);
  background-size: cover;
  background-image: url(../images/banner-agencja.jpg);
  object-fit: cover;
  box-shadow: inset 50px 50px 50px 50px rgba(47, 48, 58, 0.4),
    inset 1600px 600px 50px 50px rgba(47, 48, 58, 0.4);
}

.banner-background-team {
  background-color: var(--color-white-dark);
  /* dlaczego vsc kazał zrobić puste linie w css ? */
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* dlaczego vsc kazał zrobić puste linie w css ? */
  color: var(--color-white);
}

.title-banner {
  font-size: 46px;
  line-height: 1.6;
  padding-top: 200px;
}

.button {
  display: inline-block;
  height: 38px;
  margin: 8px;
  padding: 6px 22px 6px 22px;
  background-color: var(--color-white-dark);
  color: var(--color-black);
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.button:hover {
  transform: scale(1.1);
  transition: 2s;
}

.button-list {
  display: flex;
  justify-content: center;
  list-style: none;
}

.button:hover {
  color: var(--color-white-dark);
  background-color: var(--hover-color);
}

.button-bnner {
  color: var(--color-white-dark);
  background-color: var(--hover-color);

  line-height: 1;
  letter-spacing: 2px;
  white-space: normal;
  margin-top: 30px;
  width: 220px;
  height: 50px;
  font-size: 16px;
  font-weight: 700;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.portfolio {
  list-style: none;
  display: inline-flex;
  padding-bottom: 94px;
}

.portfolio-tabela {
  display: flex;
  align-items: center;
  /* align-content: space-between; */
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  gap: calc((100%- 60px) / 3);
  /* column-gap: calc((100%- 60px) / 3); */
  border-top: 1px solid transparent;
}

.portfolio-item {
  display: inline-block;
  flex-direction: column;
  border: 1px solid #eeeeee;
  margin-bottom: 30px;
}

.img-portfolio {
  display: block;
  /* width: 370px;
  height: 294px; */
}

.portfolio-space {
  display: block;
  flex-direction: column;
  align-items: center;
  width: 270px;
  height: 428px;
  text-align: center;
  border: 1px solid rgba(117, 117, 117, 0.5);
  box-shadow: 0 5px 10px -2px rgba(117, 96, 96, 0);
  border-radius: 5px;
  margin: 15px;
}

.drop-shadow {
  width: 150px;
  height: 200px;
  display: block;
  background: white;
}

.project-info {
  display: block;
  color: var(--color-black);
  font-family: 'Roboto';
  font-size: 18px;
  padding-top: 30px;
  padding-left: 30px;
}
.kategory {
  display: block;
  font-size: 16px;
  padding: 10px 0px 30px 30px;
  font-family: 'Roboto';
  color: var(--color-grey);
}

.box-info-title {
  margin-top: 30px;
  font-size: 14px;
  font-weight: 700;
  color: var(--color-black);
}

.box-info {
  margin-top: 6px;
  font-size: 14px;
  color: var(--color-grey);
}

.title-one {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  margin: 50px;
  height: auto;
  color: var(--color-black);
}

.footer {
  background-color: #2f303a;
  color: #ffffff;
  text-decoration: none;
  padding: 60px 10px 30px 90px;
}

.footer-display {
  display: flex;
  justify-content: left;
  margin: 0 auto;
  gap: 0;
}

.footer-display-socjal {
  margin-left: 50px;
}
h3 {
  margin-top: -20px;
  margin-bottom: 20px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
}

.address {
  font-size: 14px;
  margin-top: 20px;
}

/* style do ikonz svg */
/* .icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
} */

.category-box {
  display: flex;
  max-width: 1200px;
  height: 251px;
  margin: auto;
}

.category-prezentation {
  display: flex;
  width: 270px;
  height: 247px;
}

.category-jobs {
  margin: 20px;
}

.category-svg-icon {
  display: block;
  /* margin: 25px; */
}

.kafelek {
  margin: 15px;
  width: 270px;
}

.svg-item {
  background-color: var(--color-white-dark);
  width: 70px;
  height: 70px;

  margin: 25px 100px;
}
.beleczka {
  display: flex;
  width: 100%;
    /* background-color: burlywood; */
      justify-content: space-between;
  justify-items: center;
}

.beleczka-lorem {
  justify-content: space-between;
  justify-items: center;
  width: 270px;
}

.beleczka-kafelek {
  align-content: center;
  justify-content: center;
  border: 2px #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  background-color: var(--color-white-dark);
}
.beleczka-.kafelek{
  border-color: var(--hover-color);
}





.box-info-background {
  display: flex;
  background-color: var(--color-white-dark);
  border-color: #000000;
  border-radius: 5%;
  border: var(--hover-color);
  border: 1px;
}

/* .border {
border-radius: 5%;
border: var(--hover-color);
border: 1px;

} */

.box-info-karta {
}

.socjal-links {
  display: flex;
  align-content: space-between;
  /* width: 250px; */
  /* height: 40px; */
  /* background-color: grey; */
}

.socjal-links-center {
  align-content: center;
}
/*  */

/* za cholere nie moge tego wycentrować  */
/*  */

.svg-item-socjal {
  background-color: var(--color-white-dark);
  width: 30px;
  height: 30px;
  margin: 5px;
  margin-left: 25px;
  align-content: center;
  /* outline: 2px dashed #2a2a2a; */
  /* margin: 25px 100px; */
}
.svg-item-socjal-box {
  background-color: var(--color-white-dark);
  /* width: 30px;
  height: 30px; */
  /* align-content: space-around; */
  /* outline: 2px dashed #2a2a2a; */
  /* margin: 25px 100px; */
}

/* to sobie testuje   */

.list {
  list-style: none;
  display: flex;
  padding: 0px;
  margin: 0px;
  gap: 30px;
}
.icon-sm-box {
  display: flex;
  justify-content: space-between;
  width: 206px;
  height: 56px;
  margin: 0 auto;
}
.icon-box-socjal {
  width: 44px;
  height: 44px;
  padding: 12px;
}

/* to bedzie dobre  do nastepnych ikon */
/* .svg-client-box-size {
  align-content: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  padding: 16px 32px;
  color: #afb1b8;
} */

/* .svg-icon-client {
  width: 106px;
  height: 60px;
  align-items: center;
  align-content: center;
  justify-self: center;
  color: #afb1b8;
} */

.icon-client {
  align-items: center;
  align-content: center;
  justify-self: center;
  color: #afb1b8;
}

.icon-client::hover {
  fill: var(--hover-color);
}
